[access]
	inheritFrom = Private-Projects
[access "refs/*"]
	owner = group user/tymion
[access "refs/for/refs/*"]
	read = group user/tymion
	push = group user/tymion
	label-Code-Review = -2..+2 group user/tymion
	label-Verified = -1..+1 group user/tymion
	rebase = group user/tymion
	removeReviewer = group user/tymion
	submit = group user/tymion
[access "refs/heads/*"]
	read = group user/tymion
	create = group user/tymion
	push = +force group user/tymion
	pushMerge = group user/tymion
[access "refs/tags/*"]
	push = +force group user/tymion
	pushTag = group user/tymion
	pushSignedTag = group user/tymion
