config = dict(
    SYS_BUS_COM='${SYS_BUS_COM}',
    OBC_COM='${OBC_COM}',
    PAYLOAD_BUS_COM='${PAYLOAD_BUS_COM}',
    GPIO_COM='${GPIO_COM}',
    SINGLE_BUS=${PY_USE_SINGLE_BUS},
    CAPTURES_OUTPUT='${CMAKE_BINARY_DIR}/captures'
)
