config = dict(
    MOCK_COM='${MOCK_COM}',
    OBC_COM='${OBC_COM}', 
    GPIO_COM='${GPIO_COM}',
    CAPTURES_OUTPUT='${CMAKE_BINARY_DIR}/captures',
    COMM_SECURITY_CODE=${COMM_SECURITY_CODE}
)
