config = dict(
    MOCK_COM='${MOCK_COM}',
    OBC_COM='${OBC_COM}', 
    GPIO_COM='${GPIO_COM}',
    CAPTURES_OUTPUT='${CMAKE_BINARY_DIR}/captures',
    COMM_SECURITY_CODE=${COMM_SECURITY_CODE},
    BOOT_INDEX=${BOOT_INDEX},
    BOOT_UPPER=${BOOT_USE_UPPER_PY},
    BINARIES_DIR='${CMAKE_RUNTIME_OUTPUT_DIRECTORY}',
    REPORTS_DIR='${REPORTS_PATH}',
    JLINK='${JLINK}',
    JLINK_SN='${JLINK_SN}'
)
