#define VERSION "${CMAKE_BUILD_TYPE} Build from '${GIT_COMMIT_HASH}' branch: ${GIT_BRANCH}\nMCU: ${TARGET_MCU_PLATFORM}\nPayload: ${TARGET_PLD_PLATFORM}\nMachine: ${HOST_NAME}\nBuilt in ${CMAKE_BINARY_DIR}\nGCC:" __VERSION__ " "